{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div  id="box" class="p-3 w-75">
		<h1 class="h1 mb-3">Kata</h1>
		<h3 class="h3 mb-3 font-weight-normal">Connexion</h3>
		{% if app.user %}
			<div class="mb-3">
				Vous êtes connectés en tant que:
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}
		<form id="login-form" method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}


			<div>
				<label for="inputEmail">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
				<label for="inputPassword">Mot de passe</label>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<button class="btn btn-primary my-2" type="submit">
					Connexion
				</button>
			</div>


			<div class="mb-3">
				Pas encore de compte ? <br>
				<a href="{{ path('app_register') }}"  class="btn btn-success">S'inscrire</a>
			</div>
		</form>
	</div>
{% endblock %}
