{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}

	<div id="box" class="p-3 w-75">
<h1 class="h1 mb-3">Kata</h1>
<h3 class="h3 mb-3">Inscription</h3>
		<div>
			{{ form_errors(registrationForm) }}

			{{ form_start(registrationForm) }}
			{{ form_row(registrationForm.email) }}
			{{ form_row(registrationForm.plainPassword) }}

			<button type="submit" class="btn btn-primary my-2">S'inscrire</button>
			{{ form_end(registrationForm) }}
		</div>

		<div class="mb-3">
			Déjà un compte ? <br>
			<a href="{{ path('app_login') }}" class="btn btn-success">Se connecter</a>
		</div>
	</div>
{% endblock %}
