{% extends 'base.html.twig' %}

{% block title %}Simulateur CA - Kata
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('calculator') }}
{% endblock %}

{% block body %}

	<div id="box" class="p-3 w-75">
		<div id="calculator-header" class="mb-3">
			<h1 class="h1 m-0" >Simulateur CA</h1>
			<div>
				<span class="h5 mx-4">
					{{app.user}}</span>
				<a href="{{ path('app_logout') }}" class="btn btn-danger btn-sm">Déconnexion</a>
			</div>
		</div>

		<div 
            id="calculator-container" 
            data-surface-value="{{ calculator.surface }}" 
            data-price-value="{{ calculator.price }}" 
            data-social-value="{{ calculator.social }}" 
            data-private-value="{{ calculator.private }}"
            data-csrf-value="{{ csrf_token }}"
            >
        </div>
	</div>
{% endblock %}
