@import '~bootstrap/scss/bootstrap';

body {
    background-color: whitesmoke;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#box {
    background-color: rgb(224, 224, 224);

}

#calculator-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.calculator-label {
    font-weight: bold;
}
